Edge - Yan Coelho (arduino)/aulas/aula_2_5.3.24/node-red.json
[
    {
        "id": "c0e63aa2ac113306",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f693b40edb2d8cc",
        "type": "serial in",
        "z": "c0e63aa2ac113306",
        "name": "Arduino",
        "serial": "7cddab76b63d1d04",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "4c1e521122e10f6c"
            ]
        ]
    },
    {
        "id": "4493bf3fd19017ea",
        "type": "debug",
        "z": "c0e63aa2ac113306",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "4c1e521122e10f6c",
        "type": "json",
        "z": "c0e63aa2ac113306",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "df51338765eece0f",
                "f1119536a4509f17",
                "ca5b7bdc9df5666a"
            ]
        ]
    },
    {
        "id": "f1119536a4509f17",
        "type": "switch",
        "z": "c0e63aa2ac113306",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "5cb11efdd6db559f"
            ],
            [
                "3b9ea843016d4cf9"
            ]
        ]
    },
    {
        "id": "3b9ea843016d4cf9",
        "type": "function",
        "z": "c0e63aa2ac113306",
        "name": "function 1",
        "func": "msg.payload = \"Perigo\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "4493bf3fd19017ea"
            ]
        ]
    },
    {
        "id": "5cb11efdd6db559f",
        "type": "function",
        "z": "c0e63aa2ac113306",
        "name": "function 2",
        "func": "msg.payload = \"Okay\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "4493bf3fd19017ea"
            ]
        ]
    },
    {
        "id": "ca5b7bdc9df5666a",
        "type": "debug",
        "z": "c0e63aa2ac113306",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "4516e07d0f0fc3fd",
        "type": "ui_gauge",
        "z": "c0e63aa2ac113306",
        "name": "",
        "group": "38b88aeacababf03",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "df51338765eece0f",
        "type": "change",
        "z": "c0e63aa2ac113306",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance_cm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "4516e07d0f0fc3fd"
            ]
        ]
    },
    {
        "id": "7cddab76b63d1d04",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "38b88aeacababf03",
        "type": "ui_group",
        "name": "Default",
        "tab": "b267fd2bfa90c42c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b267fd2bfa90c42c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]